<html>
<head>
    <% include ../partials/head %>
</head>
<body>
<h1><%= title %></h1>
<ul>
    <% blobs.forEach(function (blob){ %>
    <li><%= blob.name %></li>
    <li><%= blob.badge %></li>
    <li><%= blob.dob %></li>
    <li><%= blob.isloved %></li>
    <li><%= blob._id %></li>
    <form action="<%= '/blobs/'+blob._id+'/edit'%>" method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" value="DELETE", name="_method"/>
        <button type="submit">Delete</button>
    </form>
    <p><a href="<%= '/blobs/'+blob.id+'/edit' %>">Edit</a></p>
    <p><a href="<%= '/blobs/'+blob.id %>">Show</a></p>
    <% }) %>
</ul>
</body>
</html>