<html>
<head>
    <% include ../partials/head %>
</head>
<body>
<h1>Infophoto <%= blob._id %></h1>
<ul>
    <li>Name: <%= blob.name %></li>
    <li>Badge: <%= blob.badge %></li>
    <li>DOB: <%= blob.dob %></li>
    <li>Is Loved: <%= blob.isloved %></li>
    <li>ID: <%= blob._id %></li>
</ul>
</body>
</html>