<!doctype html>
<head>
<title><%= tagline %></title>
</head>
<html>
<body>
<head>
<script src="./controller/filmController.js"></script>
</head>
<section>
<h1>Films :</h1>

    <% films.forEach(function(film) { %>
	<div id="<%= film._id %>">
	<ul>
        <li><%= film._id %></li>
        <li><%= film.title %></li>
        <li><%= film.year %></li>
        <li><%= film.genre %></li>
        <li><%= film.summary %></li>
        <li><%= film.country %></li>
        <li><%= film.director.last_name %></li>
		<ul>
		<% film.actors.forEach(function(actor) { %>
			<li><%= actor.last_name %></li>
		<% }); %>
		</ul>
	</ul>
	<button onclick="deleteFilm(<%= JSON.stringify(film) %>)">Supprimer</button>
	<hr/>
	</div>
    <% }); %>

</section>
</body>
</html>