<!doctype html>
<head>
<title><%= tagline %></title>
</head>
<html>
<body style="background:whitesmoke;">
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
<script src="./controller/filmController.js"></script>
</head>
<div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>
<section style="padding-left:50px;padding-right:50px">
<h1>Films :</h1>
<dialog class="mdl-dialog" style="width:450px;display:none">
    <h4 class="mdl-dialog__title">Supprimer le film ?</h4>
    <div class="mdl-dialog__content">
      <p id="diag"></p>
    </div>
    <div class="mdl-dialog__actions">
      <button id="confirm" type="button" class="mdl-button">Confirmer</button>
      <button id="cancel" type="button" class="mdl-button close">Annuler</button>
    </div>
  </dialog>
<div id="flexbox" style="display:flex;flex-wrap:wrap;justify-content: space-around;justify-content: center;">
    <% films.forEach(function(film) { %>
	<div id="<%= film._id %>" class="mdl-card mdl-shadow--2dp" style="width:450px;height:450px;display:inline-block;margin-bottom:20px;margin-left:20px">
	<ul>
	<button id="del<%= film._id %>" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-button--icon" onclick="showDeleteModal(<%= JSON.stringify(film._id) %>, <%= JSON.stringify(film.title) %>)" style="float:right;display:inline-block;margin-left:10px;margin-right:10px"><i class="material-icons">delete</i></button>
		<div class="mdl-tooltip" data-mdl-for="del<%= film._id %>">Supprimer le film</div>
	<button id="ed<%= film._id %>" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-button--icon" onclick="" style="float:right;display:inline-block;"><i class="material-icons">edit</i></button>	
		<div class="mdl-tooltip" data-mdl-for="ed<%= film._id %>">Editer le film</div>
		<div class="mdl-card__title">
        <li class="mdl-card__title-text"><%= film.title %></li>
		</div>
		<div class="mdl-card__supporting-text" style="height:330px;overflow-y:scroll;display:flex;flex-direction: column;justify-content: space-around;">
        <li><%= film.year %></li>
        <li><%= film.genre %></li>
        <li><%= film.summary %></li>
        <li><%= film.country %></li>
        <li><%= film.director.last_name %></li>
		<% film.actors.forEach(function(actor) { %>
		<ul>
			<li><%= actor.last_name %></li>
		</ul>
		<% }); %>
		</div>
	</ul>
</div>
    <% }); %>
</div>
</section>
</body>
</html>